.theme-red    { background-color: #ff4d4d; color: white; }
.theme-orange { background-color: #ff944d; color: white; }
.theme-yellow { background-color: #ffe44d; color: #333; }
.theme-green  { background-color: #4dff4d; color: #333; }
.theme-blue   { background-color: #4d94ff; color: white; }
.theme-violet { background-color: #b84dff; color: white; }
.theme-white  { background-color: #ffffff; color: #333; }
.theme-black  { background-color: #000000; color: white; }
